<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://artifactory.ext.national.com.au:443/artifactory/NAB-X-NATIVE-SHARED-build/ReactNativeSupportDemo/3.5.1/ios/MiniAppNative-TestHarness-iOS-3.5.1.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>au.com.nab.mobile.react-native-support-demo</string>
				<key>bundle-version</key>
				<string>5.0.0.test</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>NAB-X-TestHarness</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
